// =============================================================================
// Component Styles
//
// Build modifier function
// Description goes here!
// =============================================================================

@function _build-modifier($symbol, $names) {
  $selector: "";

  @for $index from 1 through length($names) {
    $name: nth($names, $index);

    @if length($names) > 1 {
      $selector: _combine-selectors($name, $symbol, "&");
    } @else {
      $selector: $selector + "&." + $symbol + $name;
    }

    @if $index != length($names) {
      $selector: $selector + ",";
    }
  }

  @return $selector;
}
