// =============================================================================
// Component Styles
// =============================================================================

@import 'symbols'

_build-component($symbol, $components)
  $selector = ''

  for $component, $i in $components
    $selector += '.'
