// =============================================================================
// Component Styles
//
// TODO: Add description
// =============================================================================

__get-selector($prefix, $symbol, $names) {
  $selector = ''

  for $name, $index in $names {
    $selector += $prefix + $symbol + $name
    $selector += ',' unless ($index + 1) = length($names)
  }

  return $selector
}

@require 'symbols'
@require 'mixins'
@require 'functions'
