// =============================================================================
// Component Styles
// =============================================================================

// Symbols
// -----------------------------------------------------------------------------

$_component-symbol ?= ''
$_modifier-symbol ?= '\--'
$_element-symbol ?= '-'
$_state-symbol ?= '\@'
$_utility-symbol ?= '\+'

$_component-styles-root-id ?= 'component-styles'
