// =============================================================================
// Component Styles
// =============================================================================

// Symbols
// -----------------------------------------------------------------------------

$component-symbol ?= ''
$modifier-symbol ?= '\\*'
$element-symbol ?= '-'
$state-symbol ?= '@'
$utility-symbol ?= '+'

$root-id ?= 'component-styles'
