@import "../../../src/stylus/component-styles";

{_component('Card')} {
  background-color: #ffffff;

  {_component('Icon')} {
    fill: #00aaff;
  }
}

{_component('Button', 'Avatar')} {
  cursor: pointer;
}
