// =============================================================================
// Component Styles
//
// Utility tests
// Description goes here!
// =============================================================================

@import 'src/stylus/component-styles'

+utility('hidden') {
  should-be: '#component-styles .\+hidden'
}
