// =============================================================================
// Component Styles
//
// Utility mixin
// TODO: Add description
// =============================================================================

utility($utility-name) {
  $selector = '/#' + $root-id + ' .' + $utility-symbol + $utility-name

  {$selector} {
    {block}
  }
}
